{% extends 'base.html' %}
{% load i18n static %}
{% block title %} Lista de jugadores por goles {% endblock %}
{% block content %}
<!-- section-hero-posts-->
<div class="hero-header">
    <!-- Hero Slider-->
    <div id="hero-slider" class="hero-slider">

        <!-- Item Slide-->
        <div class="item-slider" style="background:url(/static/img/slide3.webp)">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7">
                        <div class="info-slider">
                            <h1>Group Stage Breakdown</h1>
                            <p>While familiar with fellow European nation France, Hareide admits that South American
                                side Peru.</p>
                            <a href="#" class="btn-iw outline">Read More <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Item Slide-->

        <!-- Item Slide-->
        <div class="item-slider" style="background:url(/static/img/qatar1.webp)">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7">
                        <div class="info-slider">
                            <h1>World Cup rivalries reprised</h1>
                            <p>The outdoor exhibition on Manezhnaya Square comprises 11 figures that symbolise the main
                                sites of interest.</p>
                            <a href="#" class="btn-iw outline">Read More <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Item Slide-->

        <!-- Item Slide-->
        <div class="item-slider" style="background:url(/static/img/wales_goal.webp)">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7">
                        <div class="info-slider">
                            <h1>Group Stage Breakdown</h1>
                            <p>While familiar with fellow European nation France, Hareide admits that South American
                                side Peru.</p>
                            <a href="#" class="btn-iw outline">Read More <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Item Slide-->
    </div>
    <!-- End Hero Slider-->
</div>
<!-- End section-hero-posts-->
<!-- Section Area - Content Central -->
<section class="content-info">
    <!-- Dark Home -->
    <div class="dark-home">
        <div class="container">
            <div class="row">
                <!-- Left Content - Tabs and Carousel -->
                <div class="col-xl-9 col-md-12">
                    <!-- Nav Tabs -->
                    <ul class="nav nav-tabs" id="myTab">
                        <li class="active"><a href="#statistics" data-toggle="tab">STATISTICS</a></li>
                        <li><a href="#groups" data-toggle="tab">GROUPS</a></li>
                        <li><a href="#description" data-toggle="tab">DESCRIPTION</a></li>
                    </ul>
                    <!-- End Nav Tabs -->
                    <!-- Content Tabs -->
                    <div class="tab-content">
                        <!-- Tab Theree - statistics -->
                        <div class="tab-pane active" id="statistics">
                            <div class="row">
                                <!-- Club Ranking -->
                                <div class="col-lg-4">
                                    <div class="club-ranking">
                                        <h5><a href="group-list.html">Club Ranking</a></h5>
                                        <div class="info-ranking">
                                            <ul>
                                                <li>
                                                    <span class="position">
                                                        1
                                                    </span>
                                                    <a href="single-team.html">
                                                        <img src="img/clubs-logos/rusia.png" alt="">
                                                        Russia
                                                    </a>
                                                    <span class="points">
                                                        90
                                                    </span>
                                                </li>

                                                <li>
                                                    <span class="position">
                                                        2
                                                    </span>
                                                    <a href="single-team.html">
                                                        <img src="img/clubs-logos/arabia.png" alt="">
                                                        Saudi Arabia
                                                    </a>
                                                    <span class="points">
                                                        86
                                                    </span>
                                                </li>

                                                <li>
                                                    <span class="position">
                                                        3
                                                    </span>
                                                    <a href="single-team.html">
                                                        <img src="img/clubs-logos/egy.png" alt="">
                                                        Egypt
                                                    </a>
                                                    <span class="points">
                                                        84
                                                    </span>
                                                </li>

                                                <li>
                                                    <span class="position">
                                                        4
                                                    </span>
                                                    <a href="single-team.html">
                                                        <img src="img/clubs-logos/uru.png" alt="">
                                                        Uruguay
                                                    </a>
                                                    <span class="points">
                                                        70
                                                    </span>
                                                </li>

                                                <li>
                                                    <span class="position">
                                                        5
                                                    </span>
                                                    <a href="single-team.html">
                                                        <img src="img/clubs-logos/por.png" alt="">
                                                        Portugal
                                                    </a>
                                                    <span class="points">
                                                        67
                                                    </span>
                                                </li>

                                                <li>
                                                    <span class="position">
                                                        6
                                                    </span>
                                                    <a href="single-team.html">
                                                        <img src="img/clubs-logos/esp.png" alt="">
                                                        Spain
                                                    </a>
                                                    <span class="points">
                                                        60
                                                    </span>
                                                </li>

                                                <li>
                                                    <span class="position">
                                                        55
                                                    </span>
                                                    <a href="single-team.html">
                                                        <img src="img/clubs-logos/mar.png" alt="">
                                                        Morocco
                                                    </a>
                                                    <span class="points">
                                                        90
                                                    </span>
                                                </li>

                                                <li>
                                                    <span class="position">
                                                        8
                                                    </span>
                                                    <a href="single-team.html">
                                                        <img src="img/clubs-logos/irn.png" alt="">
                                                        IR Iran
                                                    </a>
                                                    <span class="points">
                                                        53
                                                    </span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Club Ranking -->

                                <!-- recent-results -->
                                <div class="col-lg-4">
                                    <div class="recent-results">
                                        <h5><a href="group-list.html">Recent Result</a></h5>
                                        <div class="info-results">
                                            <ul>
                                                <li>
                                                    <span class="head">
                                                        Portugal Vs Spain <span class="date">27 Jun 2017</span>
                                                    </span>

                                                    <div class="goals-result">
                                                        <a href="single-team.html">
                                                            <img src="img/clubs-logos/por.png" alt="">
                                                            Portugal
                                                        </a>

                                                        <span class="goals">
                                                            <b>2</b> - <b>3</b>
                                                        </span>

                                                        <a href="single-team.html">
                                                            <img src="img/clubs-logos/esp.png" alt="">
                                                            Spain
                                                        </a>
                                                    </div>
                                                </li>

                                                <li>
                                                    <span class="head">
                                                        Rusia Vs Colombia <span class="date">30 Jun 2017</span>
                                                    </span>

                                                    <div class="goals-result">
                                                        <a href="single-team.html">
                                                            <img src="img/clubs-logos/rusia.png" alt="">
                                                            Rusia
                                                        </a>

                                                        <span class="goals">
                                                            <b>2</b> - <b>3</b>
                                                        </span>

                                                        <a href="single-team.html">
                                                            <img src="img/clubs-logos/colombia.png" alt="">
                                                            Colombia
                                                        </a>
                                                    </div>
                                                </li>

                                                <li>
                                                    <span class="head">
                                                        Uruguay Vs Portugal <span class="date">31 Jun 2017</span>
                                                    </span>

                                                    <div class="goals-result">
                                                        <a href="single-team.html">
                                                            <img src="img/clubs-logos/uru.png" alt="">
                                                            Uruguay
                                                        </a>

                                                        <span class="goals">
                                                            <b>2</b> - <b>3</b>
                                                        </span>

                                                        <a href="single-team.html">
                                                            <img src="img/clubs-logos/por.png" alt="">
                                                            Portugal
                                                        </a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- end recent-results -->

                                <!-- Top player -->
                                <div class="col-lg-4">
                                    <div class="player-ranking">
                                        <h5><a href="group-list.html">Top player</a></h5>
                                        <div class="info-player">
                                            <ul>
                                                <li>
                                                    <span class="position">
                                                        1
                                                    </span>
                                                    
                                                    <span class="points">
                                                        90
                                                    </span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Top player -->
                            </div>
                        </div>
                        <!-- Tab Theree - statistics -->
                    </div>
                    <!-- Content Tabs -->
                </div>
                <!-- Left Content - Tabs and Carousel -->
            </div>
        </div>
    </div>
    <!-- Dark Home -->

</section>
<!-- End Section Area -  Content Central -->



<!-- Section Area - Content Central -->
<section class="content-info">

    <!-- Dark Home -->
    <div class="dark-home paddings-50-50">
        <div class="container">
            <div class="row">
                <!-- end recent-results -->

                <!-- Top player -->
                <div class="col-lg-4">
                    <div class="player-ranking">
                        <h4><a style="color: white;" href="group-list.html">Reporte de goleadores</a></h4>
                        <div class="info-player">
                        </div>
                    </div>
                </div>
                <div style="display: flex;" class="container">
                    <div id="">
                        <center>
                            <h5 style="color: white;">Nombre</h5>
                        </center>
                        {% for l in jugador_goles %}
                        <ul>
                            <li style="color:white"> {{l.nombre}}</li>
                        </ul>
                        {% endfor %}
                    </div>
                    <div id="">
                        <center>
                            <h5 style="color: white;">Goles</h5>
                        </center>
                        {% for n in result %}
                        <ul>
                            <li style="color:white">{{n.count}} </li>
                        </ul>
                        {% endfor %}
                    </div>
                </div>
                <!-- End Top player -->
            </div>
        </div>
    </div>
    <div class="" style="background:url(img/slide/3.jpg);">
        <div class="container">
            <div class="row">
            </div>
        </div>
    </div>
    <!-- Content Central -->

    <!-- End Content Central -->

    <!-- Newsletter -->

    <!-- End Newsletter -->
</section>
<!-- End Section Area -  Content Central -->


<!-- footer-->

<!-- End footer-->

<!-- footer Down-->

{% endblock %}